body {
  font-family: $primary-font;
  background: $color-primary;
  color: $color-grey-dark-3;
  line-height: 1.7;
  text-decoration: none;
}

.heading-primary {
  /* To stop shaking */
  backface-visibility: hidden;

  


}