//COLOURS

// $color-primary: #6689A1;
$color-primary: #EFF7FF;
$color-primary-light: #5171A5;
$color-primary-dark: #322A26;

$color-secondary-light: #FAAA8D;
$color-secondary-dark: #F45B69;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT SIZE
$default-font-size: 1.6rem;
$font-size-small: 1.3rem;
$font-size-medium: 2rem;
$font-size-big: 2.5rem;
$font-size-huge: 4rem;

//FONT FAMILY
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

//FONT WEIGHT
$font-weight-big: 900;
$font-weight-medium: 700;
$font-weight-small: 400;