//COLOURS

$color-primary: #ECECD9;
$color-primary-light: #BEE4FF;
$color-primary-dark: #23395B;

$color-secondary-light: #55868C;

$color-secondary-dark: #5FA8D3;
$color-tertiary-dark: #6A8EAE;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


$color-grey-dark: #5E5E57;
$color-grey-dark-2: #999;
$color-grey-dark-3: #7A7A7A;

$color-white: #fff;
$color-black: #000;

//FONT SIZE
$default-font-size: 1.6rem;
$font-size-small: 1.3rem;
$font-size-medium: 2rem;
$font-size-big: 2.5rem;
$font-size-huge: 4rem;

//FONT FAMILY
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

//FONT WEIGHT
$font-weight-big: 900;
$font-weight-medium: 700;
$font-weight-small: 400;