.counter {
  text-align: left;

  &__text {
    font-size: $font-size-big;
    text-align: center;
    padding: .8rem;
  }
}

.timer {
  display: flex;
  flex-direction: row;
  height: 6rem;
  width: 100%;

  &__box {

    &-1 {
      background-color: $color-grey-light-2;
      width: 33.3%;
    }

    &-2 {
      background-color: $color-grey-dark-2;
      width: 33.3%;
    }

    &-3 {
      background-color: $color-grey-dark-3;
      width: 33.3%;
    }

  }
}

.dimmed {
  opacity: 20%;
}