.counter {
  text-align: left;

  &__text {
    font-size: $font-size-big;
  }
}

.timer {
  display: flex;
  flex-direction: row;
  height: 10rem;
  width: 100%;

  &__box {

    &-1 {
      background-color: pink;
      width: 33%;
    }

    &-2 {
      background-color: blueviolet;
      width: 33%;
    }

    &-3 {
      background-color: green;
      width: 33%;
    }

  }
}

.dimmed {
  opacity: 20%;
}