.question {
  display: flex;
  flex-direction:column;
  height: 60vh;


  &__number {
    font-size: $font-size-big;
  }

  &__content {
    font-size: $font-size-huge;
  }
  
}

@media screen and (max-width: 800px) {
  
}

@media screen and (max-width: 500px) {
  
}