.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $color-primary;
  padding: 3rem 15rem;
  text-align: left;
  

  &__icons {
    text-align: right;

    & a {
      font-size: $font-size-big;
      color: $color-tertiary-dark;
      margin-left: 6rem;
    }
  }
}

@media screen and (max-width: 1400px) {
  .footer {
    padding: 3rem 5rem;
  }
}

@media screen and (max-width: 800px) {
  .footer {

    padding: 2rem 3rem;
    flex-direction: column-reverse;

    &__icons {
      text-align: center;

      & a {
        font-size: $font-size-huge;
        margin: 3rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .footer {

    &__icons {

      & a {
        font-size: $font-size-big;
        margin: 2rem;
      }
    }
  }
}