.header {
  background-color: $color-primary;
  height: 20rem;
  position: relative;
}

.logo {
  height: 10rem;
  position: absolute;
  top: 7rem;
  left: 14.8rem;
}

@media screen and (max-width: 1400px) {
  .logo {
    top: 2rem;
    left: 5rem;
  }
}

@media screen and (max-width: 800px) {
  .header {
    height: 10rem;
  }
  .logo {
    height: 7rem;
    top: 2rem;
    left: 3rem;
  }
}